<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInput">Id</label>
      <input
        type="number"
        class="form-control"
        id="exampleInput"
        formControlName="uid"
        placeholder="Enter user id"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput1">First Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput1"
        formControlName="firstName"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput1">Middle Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput1"
        formControlName="middleName"
        placeholder="Middle Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput1">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput1"
        formControlName="lastName"
        placeholder="Last name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput2">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInput2"
        formControlName="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput3">Contact</label>
      <input
        type="number"
        class="form-control"
        id="exampleInput3"
        formControlName="contact"
        placeholder="Enter mobile number"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput3">Customer Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput3"
        formControlName="cname"
        placeholder="Enter mobile number"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput3">Customer Website</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput3"
        formControlName="website"
        placeholder="Enter mobile number"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput3">Customer Address</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput3"
        formControlName="customer_address"
        placeholder="Enter mobile number"
      />
    </div>
    <div class="form-group">
      <label for="exampleInput4">Role</label>
      <input
        type="text"
        class="form-control"
        id="exampleInput4"
        formControlName="role"
        placeholder="Enter User Role"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>